In [133]:
library(repr)
library(tidyverse)
library(tidymodels)
library(dplyr)
library(tidyr)
options(repr.matrix.max.rows = 6)

In [134]:
dataset_url <- "https://archive.ics.uci.edu/ml/machine-learning-databases/00547/Algerian_forest_fires_dataset_UPDATE.csv"


Bajaia_data_all <- read_csv(dataset_url, skip = 1) %>%
            head(122)            
Bajaia_data <- select(Bajaia_data_all, Temperature, RH, Classes) %>%
            mutate(Temperature = as.numeric(Temperature), RH = as.numeric(RH))
#dataset for Bajaia region, selected for temp., RH, and Classes


Sidi_Bel_data_1 <- read_csv(dataset_url, skip = 126) %>%
                head(43) %>%
                select(Temperature, RH, Classes)
#dataset for Sidi-Bel region before row 171, selected for temp., RH, and Classes


Sidi_Bel_data_2_all <- read_csv(dataset_url, skip = 171, col_names = FALSE)
    colnames(Sidi_Bel_data_2_all) <- c('day', 'month', 'year', 'Temperature', 'RH', 
                      'Ws', 'Rain', 'FFMC', 'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'Classes')
Sidi_Bel_data_2 <- select(Sidi_Bel_data_2_all, Temperature, RH, Classes)
#dataset for Sidi-Bel region after row 171, selected for temp., RH, and Classes

Parsed with column specification:
cols(
  day = col_character(),
  month = col_character(),
  year = col_character(),
  Temperature = col_character(),
  RH = col_character(),
  Ws = col_character(),
  Rain = col_character(),
  FFMC = col_character(),
  DMC = col_character(),
  DC = col_character(),
  ISI = col_character(),
  BUI = col_character(),
  FWI = col_character(),
  Classes = col_character()
)

Warning message:
“2 parsing failures.
row col   expected     actual                                                                                                       file
123  -- 14 columns 1 columns  'https://archive.ics.uci.edu/ml/machine-learning-databases/00547/Algerian_forest_fires_dataset_UPDATE.csv'
168  -- 14 columns 13 columns 'https://archive.ics.uci.edu/ml/machine-learning-databases/00547/Algerian_forest_fires_dataset_UPDATE.csv'
”
Parsed with column specification:
cols(
  day = col_character(),
  month = col_character(),
  year = col_double(),
  Temperature = col_double(),
  RH = col_double(),
  Ws = col_double(),
  Rain = col_double(),
  FFMC = col_double(),
  DMC = col_double(),
  DC = col_character(),
  ISI = col_double(),
  BUI = col_double(),
  FWI = col_character(),
  Classes = col_character()
)

Warning message:
“1 parsing failure.
row col   expected     actual                                                                                                       file
 44  -- 14 columns 13 columns 'https://archive.ics.uci.edu/ml/machine-learning-databases/00547/Algerian_forest_fires_dataset_UPDATE.csv'
”
Parsed with column specification:
cols(
  X1 = col_character(),
  X2 = col_character(),
  X3 = col_double(),
  X4 = col_double(),
  X5 = col_double(),
  X6 = col_double(),
  X7 = col_double(),
  X8 = col_double(),
  X9 = col_double(),
  X10 = col_double(),
  X11 = col_double(),
  X12 = col_double(),
  X13 = col_double(),
  X14 = col_character()
)

In [135]:
Bajaia_data #display data for Bajaia only

    Temperature RH Classes
1   29          57 not fire
2   29          61 not fire
3   26          82 not fire
⋮   ⋮           ⋮  ⋮
120 32          47 not fire
121 26          80 not fire
122 25          78 not fire

In [138]:
Sidi_Bel_data <- rbind(Sidi_Bel_data_1, Sidi_Bel_data_2) 
Sidi_Bel_data #display data for Sidi-Bel only

    Temperature RH Classes
1   32          71 not fire
2   30          73 not fire
3   29          80 not fire
⋮   ⋮           ⋮  ⋮
119 27          87 not fire
120 24          54 not fire
121 24          64 not fire

In [137]:
Algerian_data <- rbind(Bajaia_data, Sidi_Bel_data)
Algerian_data #data for both regions

    Temperature RH Classes
1   29          57 not fire
2   29          61 not fire
3   26          82 not fire
⋮   ⋮           ⋮  ⋮
241 27          87 not fire
242 24          54 not fire
243 24          64 not fire